DATABASE_URL=__URI__

APP_ENV=development

OIDC_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
OIDC_GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
OIDC_GOOGLE_REDIRECT_URI=YOUR_GOOGLE_REDIRECT_URI
OIDC_GOOGLE_SCOPE=YOUR_GOOGLE_SCOPE
OIDC_GOOGLE_ISSUER_URI=YOUR_GOOGLE_ISSUER_URI

### Min length: 16
SECRET_KEY=YOUR_SECRET_KEY_IN_BASE64

API_HOST=127.0.0.1:3000

COOKIE_SECURE=false
